<!doctype html>
<!-- html taggen beskriver vart htmldokumentet börjar  -->
<html lang="sv">
<!-- Inom head taggarna anges information som oftast ej är synlig för användarna men användbara för t.ex. webläsaren(nödvändiga tillägg, teckenkodning), sökmoterer osv-->
<head>
	<meta charset="utf-8">
	<title>Risk Starcraft</title>
	<meta name="description" content="Risk game">
	<meta name="author" content="Erik">
	<meta name="generator" content="Sublime Text 2">
	<meta name="robots" content="noindex">
	<meta name="keywords" content="Risk, Starcraft">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<script src="javascripts/client/jquery-2.1.3.min.js" ></script>
	<script src="javascripts/client/jquery-ui.min.js" ></script>
	 <script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/client/game.js" ></script>

	
</head>

<body>
<div id="container">
	<h1>Waiting for players to get ready</h1>
	<br>
	<div id="gamecontainer">
		
	</div>
	<br>
	<input type="button" id="btnReady" value="Ready"/>
</div>
</body>
</html>

